.group-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  padding-inline: 0.5rem;
  width: max-content;
  background-color: #111;
  border-radius: 10px;
  color: #ffff;
}

.group-type svg {
  padding-right: 0.5rem;
  width: 1.32rem;
  height: 1.32rem;
  fill: #fff;
}

.group-type p {
  display: inline;
  border-left: 1px solid #ffff;
  padding-left: 0.5rem;
}

.group[data-group-type="protected"] .actions-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.group input[type="text"],
.group input[type="password"],
.group select {
  padding: 0.125em 0.8em;
  border-radius: 10px;
  border: 1px solid #a0a0a0;
  background-color: #fff;
}


.group[data-group-type="protected"] .actions-buttons .form-control {
  height: 100%;
}

.group-title {
  text-align: center;
  padding: 0;
  font-size: var(--size-600);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  color: #fff;
  background-color: #111;
  width: max-content;
  margin-inline: auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.group-subtitle {
  text-align: center;
  padding-block: 0;
}

.role {
  margin-top: 2rem;
}

.role-title {
  position: relative;
  margin-left: 1rem;
  width: 100%;
  color: #3a3b3c;
  font-size: var(--size-400);
  font-weight: 600;
}

.role-title::before {
  content: "";
  position: absolute;
  right: 1rem;
  top: 50%;
  width: 90%;
  max-width: calc(100% - 116.8px);
  height: 0.125rem;
  background-color: #a0a0a0;
  border-radius: 100vw;
  transform: translateY(-50%);
}

.role-title::after {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0;
  width: 10%;
  min-width: 116.8px;
  height: 100%;
  background-color: #e4e6ea;
  border-radius: 100vw;
  z-index: -1;
  /* transform: translateY(-50%); */
}

@media (max-width: 600px){
  .group .actions-buttons{
    margin: auto;
  }
}

.banned-muted-user{
  margin: auto;
  padding: var(--size-200) var(--size-400);
  color: #fff;
  background-color: #f44336;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
}